[Desktop Entry]
Encoding=UTF-8
Name=Link to https://tutorial.djangogirls.org/en
Type=Link
URL=https://tutorial.djangogirls.org/en/chromebook_setup/
Icon=text-html
